@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: #f83292;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
}

.btn {
  display: inline-block;
  background: linear-gradient(90deg, #814096, #f83292);
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.btn:hover {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  background: linear-gradient(90deg, #814096, #f83292);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right top, #ff4988, #ffc781, #fffefc);
  opacity: 1;
}

.signup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__box {
  width: 100%;
  max-width: 50rem;
  background: white;
  border-radius: 2rem;
  padding: 5.5rem 3.5rem;
  z-index: 10;
}

.signup__heading {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.signup__already {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
}

.signup__link {
  color: #00aefd;
  font-size: inherit;
  text-decoration: none;
}

.signup__link.signup__link--underline {
  text-decoration: underline;
}

.signup__form .form__group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.signup__form .form__group.form__group--2 {
  display: flex;
  justify-content: space-between;
}

.signup__form .form__group.form__group--2 .form__input {
  width: 49.5%;
}

.signup__form .form__group.form__group--2 .form__input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.signup__form .form__group.form__group--2 .form__input:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.signup__form .form__group .form__input {
  color: #666;
  padding: 1.5rem;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid #eee;
  background-color: #eee;
}

.signup__form .form__group .form__input:focus {
  background-color: #fff;
}

.signup__form .form__group .form__input::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: 400;
}

.signup__form .form__submit {
  width: 100%;
  background: #00aefd;
  padding: 1.5rem;
  border-radius: 1rem;
  color: #fff;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.signup__form .form__submit i {
  position: absolute;
  right: 10px;
}

.signup .form__tos {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.signup .form__tos label {
  margin-left: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: #814096;
}

header .logo span {
  color: #f83292;
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: #814096;
}

header .navbar a:hover {
  color: #f83292;
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: #814096;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../images/home-bg-img.png) no-repeat;
  background-size: cover;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.home .content h3 {
  font-size: 5.5rem;
  color: #333;
  text-transform: uppercase;
}

.home .content h3 span {
  color: #f83292;
  text-transform: uppercase;
}

.home .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box {
  flex: 1 1 30rem;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.2s linear;
}

.features .box-container .box img {
  height: 15rem;
}

.features .box-container .box h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.features .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

.about {
  background: url(../../images/about-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .column .image {
  flex: 1 1 40rem;
}

.about .column .image img {
  width: 100%;
}

.about .column .content {
  flex: 1 1 40rem;
}

.about .column .content h3 {
  font-size: 3rem;
  color: #666;
}

.about .column .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.about .column .content .buttons a:last-child {
  margin-left: 2rem;
}

.newsletter {
  text-align: center;
  padding: 5rem 1rem;
  background: url(../../images/subscribe-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.newsletter h3 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}

.newsletter p {
  color: #fff;
  font-size: 1.6rem;
  margin: 2rem auto;
  width: 70rem;
}

.newsletter form {
  display: flex;
  max-width: 70rem;
  border: 0.2rem solid #fff;
  padding: 0.5rem;
  margin: 2rem auto;
  height: 5.5rem;
  border-radius: 5rem;
}

.newsletter form input[type="email"] {
  padding: 0 2rem;
  font-size: 1.7rem;
  background: none;
  width: 100%;
  color: #fff;
  text-transform: none;
}

.newsletter form input[type="email"]::placeholder {
  color: #eee;
  text-transform: capitalize;
}

.newsletter form input[type="submit"] {
  background: #fff;
  width: 20rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
  color: #f83292;
}

.review .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.review .box-container .box {
  background: #fff;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex: 1 1 30rem;
}

.review .box-container .box .fa-quote-right {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 8rem;
  color: #f83292;
  opacity: 0.3;
}

.review .box-container .box .user img {
  border-radius: 50%;
  object-fit: cover;
  height: 7rem;
  width: 7rem;
  margin-top: 2rem;
}

.review .box-container .box .user h3 {
  color: #f83292;
  font-size: 2rem;
}

.review .box-container .box .user .stars i {
  color: #f3c061;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.review .box-container .box .comment {
  color: #666;
  font-size: 1.4rem;
  padding: 1rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 992px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.3s linear;
  }
  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
  }
  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }
  header input:checked ~ label::before {
    content: "\f00d";
  }
  .home {
    flex-flow: column-reverse;
  }
  .home .content p {
    font-size: 1.5rem;
  }
  .home .content h3 {
    font-size: 3.6rem;
  }
  .home .image img {
    width: 100%;
  }
  .about {
    background-position: right;
  }
  .about .column .content .buttons {
    text-align: center;
  }
  .newsletter p {
    width: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content .btn {
    width: 100%;
    text-align: center;
  }
  .about .column .content .buttons a {
    width: 100%;
    text-align: center;
  }
  .about .column .content .buttons a:last-child {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */